@use "vars" as *;

@mixin font($size, $weight:500) {
    font-size: $size;
    font-weight: $weight;
}

@mixin size($width:auto, $height:auto) {
    width: $width;
    height: $height;
}

@mixin light_mode() {
    body.bright &{
        color: $color-light-mode;
        @content;

        // @media screen and (max-width: 900px) {
        //     font-size: 16px;
        //     background-color: red;
        // }
    } 
}

@mixin dark_mode() {
    body.dark &{
        color: $color-dark-mode;
        @content;
    } 
}


@mixin responsive($width) {
    @media screen and (max-width : $width) {
        @content
    }
}