$background-light-mode: #fff;
$background-header-light-mode: rgb(220, 220, 220);
$shadow-header-light-mode:0 5px 10px rgba(20, 20, 20, 0.2);
$shadow-footer-light-mode:0 -5px 10px rgba(20, 20, 20, 0.2);
$color-light-mode:#000;

$background-dark-mode: rgb(40, 40, 40);
$background-header-dark-mode: rgb(60, 60, 60);
$shadow-dark-mode : 0 -5px 10px rgba(0, 0, 0, 0.2);
$color-dark-mode:#fff;