@use "vars" as *;
@use "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include mixins.font(20px);
    font-family: sans-serif;
}

a{
    @include mixins.font(18px);
}

.sub_menu_class{
    display: block !important;
}

header{
    padding: 15px 0;
    box-shadow: 0 5px 10px rgba(20, 20, 20, 0.2);
    @include mixins.size(100%);

    @include mixins.light_mode(){
        box-shadow: 0 5px 10px rgba(20, 20, 20, 0.2);
        background-color: $background-header-light-mode;
    }

    @include mixins.dark_mode(){
        box-shadow: 0 5px 10px rgba(20, 20, 20, 0.2);
        background-color: $background-header-dark-mode;
    }

    .title{
        text-align: center;

        h1{
            @include mixins.font(60px, 800);
            @include mixins.responsive(900px){
                font-size: 30px;
            }
        }

        h2{
            @include mixins.font(35px);
            @include mixins.responsive(900px){
                font-size: 25px;
            }
        }
    }
}

main{
    display: flex;
    scroll-behavior: smooth;

    @include mixins.responsive(900px){
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    @include mixins.light_mode(){
        background-color: $background-light-mode;
    }

    @include mixins.dark_mode(){
        background-color: $background-dark-mode;
    }

    .aside{
        @include mixins.size(20%);

        @include mixins.responsive(900px){
            display: none;
        }

        .sider{
            position: sticky;
            top: 20px;
            margin-left: 10px;
            margin-top: 20px;

            ul{
                li{
                    @include mixins.font(18px);
                    margin: 8px 0;

                    a{
                        @include mixins.light_mode(){
                            color: $color-light-mode;
                        }
                    
                        @include mixins.dark_mode(){
                            color: $color-dark-mode;
                        }
                    }
                }

                li:hover{
                    cursor:pointer;
                    text-decoration: underline;
                }

                li:nth-child(11) {
                    text-align: center
                }
            }
        }
    }

    .modes{
        section{
            text-align: center;
            @include mixins.size(5%, 10%);
            position: fixed;
            bottom: 30px;
            right: 0px;
            border-radius: 20px 0% 0% 20px;

            @include mixins.responsive(900px){
                display: none;
            }

            @include mixins.light_mode(){
                background-color: $background-dark-mode;
            }
        
            @include mixins.dark_mode(){
                background-color: $background-light-mode;
            }

            img{
                @include mixins.size(60px);
                margin: 5px 0;
            }
        }

        section:hover{
            cursor: pointer;
        }
    }

    .modes_responsive{
        display: none;

        @include mixins.responsive(900px){
            display: block;
        }

        section{
            @include mixins.size(25%);
            border-radius: 0px 20% 20% 0px;
            margin: 5% 0;

            @include mixins.light_mode(){
                background-color: $background-dark-mode;
            }
        
            @include mixins.dark_mode(){
                background-color: $background-light-mode;
            }

            img{
                @include mixins.size(50px);
                margin: 5px 0;
            }
        }

        section:hover{
            cursor: pointer;
        }
    }

    .menu_burger{
        display: none;
        margin: 0 auto;

        section{
            padding: 10px 15px;
            box-shadow: 3px 3px 10px rgba(20, 20, 20, 0.2);
            border-radius: 30px;

            @include mixins.responsive(900px){
                border: solid;
                border-color: white;
            }
        }

        #sub_menu:hover{
            cursor: pointer;
        }

        .sub_menu_list{
            box-shadow: none;
            text-align: start;
            display: none;

            ul{
                li{
                    list-style-type: none;
                }
            }
        }

        @include mixins.responsive(900px){
            display: block
        }

    }

    .content{
        @include mixins.size(80%);
        margin: 30px 10px;

        @include mixins.responsive(900px){
            @include mixins.size(100%);
        }

        section{
            @include mixins.size(85%);
            margin: 20px 0;

            @include mixins.responsive(900px){
                @include mixins.size(100%);
                text-align: center
            }

            h3{
                @include mixins.font(20px, 800);
            }

            p{
                @include mixins.font(20px);
                margin: 5px 0;

                @include mixins.responsive(900px){
                    @include mixins.font(18px);
                }
            }

            p + p{
                @include mixins.responsive(900px){
                    display: none;
                }
            }

            img{
                @include mixins.size(100%);
            }

            .first_grid{
                margin-bottom: 60px;
                height: 80vh;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 20px;

                @include mixins.responsive(900px){
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 15px;
                    @include mixins.size(80% auto);
                    
                }

                section{
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 5px 10px rgba(20, 20, 20, 0.5);

                    @include mixins.light_mode(){
                        background-color: $background-header-light-mode;
                    }
                
                    @include mixins.dark_mode(){
                        background-color: $background-header-dark-mode;
                    }

                    h4{
                        margin: 2% 3%;
                        @include mixins.font(18px, 800);
                    }

                    p{
                        margin: 2% 3%;
                        @include mixins.font(18px);

                        @include mixins.responsive(900px){
                            @include mixins.font(16px);
                        }
                    }
                }

                .responsive{
                    @include mixins.responsive(900px){
                        display: none;
                    }
                }
            }
        }
    }
}

footer{
    padding: 20px 0;

    @include mixins.light_mode(){
        background-color: $background-light-mode;
        box-shadow: $shadow-footer-light-mode;
    }

    @include mixins.dark_mode(){
        background-color: $background-header-dark-mode;


        p{
            a{
                color: $color-dark-mode;
            }
        }
    }

    section{
        display: flex;
        justify-content: space-around;

        div{
            img{
                @include mixins.size(150px);
                @include mixins.responsive(900px){
                    display: none
                }
                
            }

            .ratvisseur{
                @include mixins.size(250px);
                display: block;
            }
        }
    }

    p{
        text-align: center;

        br{
            @media screen and (min-width : 900) {
                display:none;
            }
        }
    }
}